# Environment
.env
.env.local
.env.*.local

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.pid

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# Next build
.next/
out/

# Database
*.db
